<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.CompanyTypeMenuOperateMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.CompanyTypeMenuOperate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="baseMenuId" jdbcType="INTEGER" property="basemenuid" />
    <result column="companyTypeId" jdbcType="INTEGER" property="companytypeid" />
    <result column="operateId" jdbcType="VARCHAR" property="operateid" />
    <result column="nikeName" jdbcType="VARCHAR" property="nikename" />
  </resultMap>
</mapper>