<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.ProjectDevTenderMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.ProjectDevTender">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="projectId" jdbcType="INTEGER" property="projectid" />
    <result column="tendersId" jdbcType="INTEGER" property="tendersid" />
    <result column="deviceId" jdbcType="INTEGER" property="deviceid" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
</mapper>